<h2>Admin Page</h2>
<p>Change the roles from users:</p>

<form [formGroup]="assignRoleForm" (ngSubmit)="onSubmit()" class="admin-form">
    <mat-form-field class="full-width">
        <mat-label>User</mat-label>
        <mat-select formControlName="user" [compareWith]="compareFn">
            <mat-option>
                <ngx-mat-select-search [formControl]="userFilterCtrl"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let user of filteredUsers | async" [value]="user">{{user.email}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Roles</mat-label>
        <mat-select formControlName="roles" multiple>
            <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" class="submit-button">Update Roles</button>
</form>

<h3>Delete Users</h3>
<div class="user-list">
    <div class="user-item" *ngFor="let user of filteredUsers | async">
        <span>{{ user.email }}</span>
        <button mat-icon-button color="warn" (click)="deleteUser(user.id)">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>