.upload-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.file-input-container {
    display: flex;
    align-items: center;
    gap: 10px;

    button {
        margin-right: 10px;
    }

    span {
        font-family: 'Roboto', sans-serif;
        color: #333;
    }
}

mat-spinner {
    margin-left: 10px;
}