.upload-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

mat-form-field {
    width: 100%;
}

mat-select {
    width: 100%;
}

ngx-mat-select-search {
    width: 100%;
    padding: 8px;
}

mat-option {
    display: flex;
    align-items: center;
}

mat-select-trigger {
    display: flex;
    align-items: center;
}

.file-input-container {
    display: flex;
    align-items: center;
    gap: 10px;

    button {
        margin-right: 10px;
    }

    span {
        font-family: 'Roboto', sans-serif;
        color: #333;
    }
}

mat-spinner {
    margin-left: 10px;
}