<form (ngSubmit)="uploadFile()" class="upload-form">
    <mat-form-field>
        <mat-select placeholder="Tags" [(ngModel)]="selectedTags" [compareWith]="compareTags" multiple
            [ngModelOptions]="{standalone: true}" (openedChange)="onDropdownOpen()" (closedChange)="onDropdownClose()">
            <mat-select-trigger>
                {{ getSelectedTagNames() }}
            </mat-select-trigger>
            <mat-option>
                <ngx-mat-select-search [formControl]="tagFilterCtrl"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                {{ tag.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div class="file-input-container">
        <input type="file" id="fileInput" (change)="onFileChange($event)" hidden>
        <button mat-raised-button color="primary" type="button" (click)="triggerFileInput()">Select File</button>
        <span *ngIf="file">{{ file.name }}</span>
    </div>
    <button mat-raised-button color="accent" type="submit" [disabled]="loading">
        Upload
        <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
    </button>
    <mat-progress-bar *ngIf="progress > 0" mode="determinate" [value]="progress"></mat-progress-bar>
</form>