.downloadContainer {
    display: flex;
    justify-content: space-between;
}

.downloadContainer {
    width: 100%;
    height: 15em;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.downloadContainerInCard{
    margin: 1em;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}