<div>
    <label for="filter">Filter by:</label>
    <select id="filter" multiple (change)="onFilterChange($event)">
        <option *ngFor="let filter of availaibleFilterTags" [value]="filter">{{ filter }}</option>
    </select>
</div>
<br>
<div *ngFor="let file of filteredFileModels">
    <p>File name: {{file.name}}</p>
    <p>File size: {{file.size}}</p>
    <p>File type: {{file.type}}</p>
    <div *ngFor="let tag of file.tagNameList">
        <p>Tags:</p>
        <p>{{tag}}</p>
    </div>
    <p>-------------------------</p>
    <button mat-raised-button (click)="downloadFile(file)">Download</button>
</div>