<div class="filter-tags">
    <mat-form-field>
        <input matInput placeholder="Filter tags" [(ngModel)]="filterText" (input)="filterTags()">
    </mat-form-field>
</div>

<div class="tag-list">
    <div class="tag-item" *ngFor="let tag of filteredTags">
        <p>{{ tag.name }}</p>
        <button mat-icon-button color="primary" (click)="onModifyTagClicked(tag)">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDeleteTagClicked(tag)">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>

<div class="add-tag">
    <mat-form-field>
        <input matInput placeholder="New tag name" #tagName>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onAddTagClicked(tagName.value)">Add Tag</button>
</div>