<h2>My Files:</h2>
<div class="filter-files">
    <mat-form-field>
        <input matInput placeholder="Filter files" [(ngModel)]="filterText" (input)="filterFiles()">
    </mat-form-field>
</div>
<div class="table-container" *ngIf="filteredFiles.length > 0">
    <table mat-table [dataSource]="filteredFiles" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> File Name </th>
            <td mat-cell *matCellDef="let file">
                <div *ngIf="!isEditing(file.id)">{{file.getFileNameWithoutExtension()}}</div>
                <input [(ngModel)]="file.name" *ngIf="isEditing(file.id)">
            </td>
        </ng-container>

        <ng-container matColumnDef="size">
            <th mat-header-cell *matHeaderCellDef> Size </th>
            <td mat-cell *matCellDef="let file"> {{file.size}} bytes </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let file"> {{file.getFileExtension()}} </td>
        </ng-container>

        <ng-container matColumnDef="tags">
            <th mat-header-cell *matHeaderCellDef> Tags </th>
            <td mat-cell *matCellDef="let file">
                <mat-chip-set>
                    <mat-chip *ngFor="let tag of file.tagList">
                        <div class="chip-content">
                            <span>{{tag.name}}</span>
                            <button mat-icon-button *ngIf="isEditing(file.id)" (click)="removeTag(file, tag)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                    </mat-chip>
                    <button mat-icon-button *ngIf="isEditing(file.id)" (click)="openAddTagDialog(file)">
                        <mat-icon>add</mat-icon>
                    </button>
                </mat-chip-set>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let file">
                <button mat-icon-button color="primary" (click)="toggleEdit(file)">
                    <mat-icon>{{ isEditing(file.id) ? 'save' : 'edit' }}</mat-icon>
                </button>
                <button mat-icon-button color="warn" *ngIf="isEditing(file.id)" (click)="cancelEdit()">
                    <mat-icon>close</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="onRemoveFileClicked(file.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<div *ngIf="filteredFiles.length === 0">
    <p>No files available</p>
</div>