.mainContainer{
    position: relative;
    margin: 1em;
}

.navBarContainer{
    position: absolute;  
    width: 100%;

    div{
        display: flex;
        justify-content: end;
    }
}

.header{
    font-size: 1.5em;
    padding-top: 0.5em;
    margin-bottom: 2.5em;
}