.bodyContent {
    position: relative;
}

.mainContainer {
    margin: 0 1em;
}

@media only screen and (min-width: 1201px) {
    .mainContainer {
        margin: 0 auto;
        width: 1200px;
    }
}

.navBarContainer {
    padding: 1em 0;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 10;
}

.header {
    font-size: 1.5em;
    padding-top: 0.5em;
    margin-bottom: 2.5em;
}

.htlLogo {
    width: 12em;
}